.FoodMenuCard {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	/* background-color: turquoise; */
	padding: 0rem 3rem 2rem 3rem;
}

.FoodMenu {
	display: flex;
	flex-direction: column;
	/* padding-left: 10vw; */
	/* padding-right: 10vw; */
	min-height: 100vh;
	padding-bottom: 10rem;
	/* width: 80vw; */
	align-items: center;
	justify-content: space-evenly;

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.FoodMenuNavbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.FoodMenuContainer {
	width: 50vw;
	align-self: flex-end;
	position: relative;
	top: 6rem;

	margin-right: 4rem;
	background-color: var(--light);
	padding: 2rem;
}

.FoodMenuHeader {
	align-self: flex-start;
	width: 100vw;
	position: relative;
	padding-left: 4rem;

	/* left: -10rem; */
	top: 8rem;
	/* top: 20vh; */
	height: 80px;
	background-color: var(--orange);
}

.FoodMenuCardHeader {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* justify-content: space-between; */
	align-items: center;
	/* width: fit-content; */
	/* border-left: 1px solid black;
	border-bottom: 1px solid black; */
	padding-bottom: 2rem;
}

.FoodMenuImage {
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: cover;
}

.FoodMenuItem {
	display: grid;
	grid-template-columns: 120px 1fr;
	margin-bottom: 2rem;
	/* flex-direction: row; */
	/* align-items: flex-start; */
}

.FoodMenuItem > img {
	max-width: 200px;
	max-height: 100px;
}

.MenuItemTitle {
	display: flex;
	flex-direction: column;
}
/* 
.MenuItemTitle > h5 {

} */

.MenuItemTitleTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.MenuItemTitleTop > h5,
.MenuItemTitleTop > p {
	margin-block-start: 0;
	margin-block-end: 0;
}

.MenuCategory > h4 {
	font-size: 2rem;
	width: fit-content;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
