.FoodMenu {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: turquoise;
    padding: 5rem;
}

.FoodMenuContainer {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100vh;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
}