@import "~react-image-gallery/styles/css/image-gallery.css";

.featuredItem {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.featuredItemInfo {
    /* height: 0px; */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10vw;
    justify-content: center;
}

.featuredItemInfo > div {
    text-align: left;
    border-radius: 8px;
    background-color: var(--yellow);
    padding: 4rem;
    width: 30vw;
}

.featuredItemInfo > div > span {
    display: inline-block;
}