.Footer {
	width: 100vw;
	max-height: 50vh;
	min-height: 30vh;
	background-color: var(--orange);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.Footer > span {
	max-width: 80vw;
	text-align: center;
}

.my-icon {
	width: 64px;
}

.link-icon {
	width: 32px;
}

.my-link-container {
	display: flex;
	flex-direction: row;
	/* gap: 1em;
    grid-gap: 1em; */
}

.my-link {
	transition: transform 0.5s;
	margin: 0.5em;
}

.my-link:hover {
	transform: scale(1.2);
}
