@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* @import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"); */

/*

break points

1920×1080
1366×768
1024



360×640
414×896
1536×864
375×667

*/

:root {
	--seal-brown: #542b15ff;
	--citron: #94950cff;
	--rich-black-fogra-39: #090f0fff;
	--cadet-grey: #a0adb2ff;
	--maximum-yellow-red: #e49400ff;

	--rosso-corsa: #dd1002ff;
	--pumpkin: #fb7925ff;
	--hunter-green: #465937ff;
	--lincoln-green: #2f570cff;
	--alice-blue: #e6e9eeff;
	--han-blue: #4b6cb6ff;

	--green: var(--citron);
	--yellow: var(--maximum-yellow-red);
	--grey: var(--cadet-grey);
	--black: var(--rich-black-fogra-39);
	--brown: var(--seal-brown);

	--red: var(--rosso-corsa);
	--orange: var(--pumpkin);
	--dark-green: var(--lincoln-green);
	--light: var(--alice-blue);
	--blue: var(--han-blue);

	--bp-mobile-max: 1023px;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Mate SC', serif; */
	font-family: "Montserrat", sans-serif;
}

p {
	line-height: 1.75em;
}

p,
span,
div {
	font-family: "Courier New";
}

h1 {
	margin-top: 0;
	font-size: clamp(2rem, 4.209rem, 4vw);
}

h2 {
	font-size: clamp(1.8rem, 3.157rem, 3vw);

	/* font-size: 3.157rem; */
}

h3 {
	font-size: clamp(1.5rem, 2.369rem, 2.5vw);
}

h4 {
	font-size: clamp(1.2rem, 1.777rem, 2vw);
	/* font-size: 1.777rem; */
}

h5 {
	font-size: clamp(1rem, 1.333rem, 1.5vw);

	/* font-size: 1.333rem; */
}

p {
	font-size: clamp(0.9em, 1rem, 1vw);
}

small,
.text_small {
	font-size: 0.75rem;
}

@media only screen and (max-width: 1023px) {
	p {
		line-height: 1.25em;
	}
	/* h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.8rem;
	}

	p {
		font-size: 0.8em;
		line-height: 1.2em;
	} */
}
