.ButtonLink {
	cursor: pointer;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: var(--light);
	border: 1px solid black;
	border-radius: 0;
	transition: opacity 200ms, background-color 200ms;
	text-decoration: none;
	color: black;
	width: fit-content;
	margin-right: 1rem;
}

.ButtonLink.large {
	padding: 1rem 1.5rem 1rem 1.5rem;
	font-size: 1.5rem;
}

.ButtonLink:hover {
	opacity: 80%;
	text-decoration: underline;
}

.ButtonLink.selected {
	background-color: var(--orange);
}

@media only screen and (max-width: 1023px) {
	.ButtonLink.large {
		padding: 0.5rem 0.8rem 0.5rem 0.8rem;
		font-size: 1rem;
	}
	.ButtonLink {
		margin-right: 0.2rem;

		padding: 0.2rem 0.5rem 0.2rem 0.5rem;
		font-size: 0.8em;
	}
}
